Flask==3.0.0
PyPDF2==1.26.0  # Use the latest version or the one you've tested with
python-magic==0.4.24  # Use the latest version or the one you've tested with
Werkzeug==2.2.2  # Use the latest version or the one you've tested with
